MONGO_URI=mongodb+srv://user:password@cluster0.example.mongodb.net/?retryWrites=true&w=majority
BASE_URL=http://localhost:4000
PORT=4000
NOMINATIM_UA=GreenAlgeria/1.0 (+https://example.com)
GEO_ROUND_PRECISION=4
NOMINATIM_MIN_GAP_MS=500
GEO_CACHE_PRECISION=3

